.bio-container .row {
  margin-bottom: 1em;
}
.bio-page {
  color: $infoColor;
}
.bio-header {
  text-align: center;
  font-size: 1.5em; 
  margin-bottom: 1em;
  color: $infoColor;
}
.bio-text {
  margin-top: 1em;
  line-height: 1.2em;
  text-align: center;
  font-size: 1.2em;
  color: $infoColor;
}
.bio-photo-div {
  padding-left: 0;
}
.bio-photo-div .bio-photo {
  width: 250px;
  border-radius: 20px;
}
.bio-text-row { 
  background-color: rgba(255,255,255,.1);
  border-radius: 20px;
}
.bio-row {
  text-align: center;
}
.bio-columns {
  margin-right: auto;
  margin-left: auto;
}



@media screen and (max-width: $sm - 1) {
  .bio-photo-div {
    text-align: center;
  }
  .bio-text-row {
    background-color: rgba(255,255,255,0);
  }
}
@media screen and (min-width: $sm) and (max-width: $md - 1) {

}
@media screen and (min-width: $md) and (max-width: $lg - 1) {

}
@media screen and (min-width: $lg) and (max-width: $xl - 1) {
  .bio-photo-div .bio-photo {
    width: 200px;
  }
}
@media screen and (min-width: $xl) {

}