.carousel-inner {
  height: 100vh;
}
.carousel-inner:after {
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}
.carousel-control-prev, .carousel-control-next {
  z-index: 20;
}

.info-container {
  height: 100%;
}
#info-title {
  width: 600px;
}
.table td {
  border-top: inherit;
}
#info-hours-title {
  width: 200px;
  border-bottom: solid $infoColor 2px;
}

.days {
  color: $infoColor;
  text-align: right;
}
.hours {
  color: $infoColor;
  text-align: left;
}
.info-map img {
  width: 100%;
}
.info-shop {
  text-align: center;
}
.info-location-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.info-location-table td {
  min-width: 2rem;
  word-wrap: break-word;
  font-size: 1.1rem;
}
.info-location-table td a {
  color: $infoColor + 1;
}
#info-appt-btn {
  background: $gradient;
  color: black;
  width: 400px;
  height: 50px;
}
#info-appt-btn:hover {
  background: $hover;
}

@media screen and (max-width: $sm - 1) {
  .carousel-item active {
    height: 100%;
  }
  .infoTopRow {
    margin-top: 3rem;
  }
  #barberosHeader {    
    background: $gradient;
    border-bottom: solid 2px $gradient;
  }
  .infoMiddleRow {
    height: 100%;
  }
  .hours {
    height: 50%;
  }
  .map {
    height: 50%;
  }
  .info-bottom-row{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #info-appt-btn {    
    border-radius: 8px;
  }
}

@media screen and (min-width: $sm) and (max-width: $md -1) {
  #barberosHeader {
    line-height: 200px;
    color: $infoColor;    
  }

  .infoTopRow {
    height: 20%;
  }
  .infoMiddleRow {
    height: 60%;
  }
  .hours {
    position: relative;
  }
  .table {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;    
    margin-top: 25%;
  }
  .map img:hover {
    opacity: .8;
  }

  
  
  .infoBotRow {
    height: 20%;
  }
  .btnCol {
    text-align: center;
  }
}

@media screen and (min-width: $md) and (max-width: $lg -1) {

}

@media screen and (min-width: $lg) and (max-width: $xl -1) {
  #barberosHeader {
    line-height: 100px;
    color: $infoColor;    
  }
  .hours {
    position: relative;
  }
  .hoursTable {
    position: relative;
    margin-top: 0%;
  }
  .map img:hover {
    opacity: .8;
  }
  
  #apptBtn {   
    margin-top: 2rem; 
    width: 20rem;
    border-radius: 8px;
  }
  
  .info-bottom-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}
@media screen and (min-width: $xl) {
  .full-page {
    height: 100vh;
  }
  .info-top-row {
    height: 20%;
  }
  .info-middle-row {
    height: 50%;
  }
  .info-bottom-row {
    height: 20%;
  }
  .info-hours img {
    height: 10%;
  }
  .info-table {
    height: 60%;
  }
}
