.navBar {
  position: fixed;
  right: 2%;
  top: 50%;
  z-index: 30;
  list-style: none;
  text-align: right;
  margin-top: -150px;
  margin-bottom: auto;
}

#top-menu, #info-menu, #bio-menu, #services-menu {
  opacity: .5;
  margin: 1.2em;
}
#top-menu:hover, #info-menu:hover, #bio-menu:hover, #services-menu:hover {
  opacity:.7;
}
#top-menu, #bio-menu {
  width: 50px;
}
#info-menu, #services-menu {
  width: 20px;
}
#info-active, #bio-active, #top-active, #services-active {
  margin: 1.2em 2.2em;
  transition: all .2s;
}
#info-active {
  width: 35px;
}

#services-active {
  width: 30px;
}
#bio-active {
  width: 80px;
  height: 25px;
}
#top-active {
  width: 60px;
  margin-right: 2.2rem;
  transition: all 2s;
}
#top-menu {
  width: 50px;
  opacity: .5;
  margin: .4rem;
}

.pages {
  color: $infoColor !important;
}

@media screen and (max-width: $sm) {
  .navBar {
    display: none;
  }
}

@media screen and (min-width: $md) and (max-width: $lg -1px) {
  .navBar {
    display: none;
  }
}

@media screen and (min-width: $lg) and (max-width: $xl - 1) {
  
}

@media screen and (min-width: $xl) {

}