
.services-container {
  min-height: 100%;
  height: 100%;
}
.services-top-row {
  height: 20%;
}
#services-title {
  width: 400px;
  height: 60px;
  margin: 4em 0;
}
.color {
  background: -webkit-linear-gradient(left, rgb(126, 91, 68) , rgb(204, 153, 102));
  background: -o-linear-gradient(right, rgb(126, 91, 68) , rgb(204, 153, 102));
  background: -moz-linear-gradient(right, rgb(126, 91, 68) , rgb(204, 153, 102));
  background: linear-gradient(to right, rgb(126, 91, 68) , rgb(204, 153, 102)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.services-middle-row {
  height: 60%;
  table {
    table-layout: fixed; 
  }
}
.services-desc {
  text-decoration: underline;
  font-size: 2em;
}
@media screen and (max-width: $sm - 1) {
 #services-title {
    width: 300px;
 }
 .services-desc {
    text-decoration: none;
    margin-bottom: .5em;
 }
 .services-table {
    border: solid 1px $infoColor;   
 }
}

@media screen and (min-width:$sm) and (max-width: $md - 1) {

}
@media screen and (min-width:$md) and (max-width: $lg - 1) {

}
@media screen and (min-width:$lg) and (max-width: $xl - 1) {

}
@media screen and (max-width:$xl){

}