.overlay {
  display: flex;
}
#main-logo {
  flex: 1 0 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: white;
  animation-name: color;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: color;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

#animation-div {
  opacity: 0;
  animation-name: loading;
  animation-delay: 2s;
  animation-duration: 4s;

}

@keyframes loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes color {
  0% {
    background: white;
    opacity: 1;
  }
  100% {
    opacity: 0;
    background: black;
    display: none;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// .overlay-container {
  //   position: absolute;
  //   top:0;
  //   left: 0;
//   overflow: hidden;
//   height: 100vh;
//   width: 100vw;
// }
// .overlay-text {  
//   position: relative;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   font-family: 'Muli', sans-serif;
//   color: white;
//   text-align: center;
//   text-shadow: 4px 4px rgba(0,0,0,0.4);
//   animation-name: overlay-text;
//   animation-duration: 3s;
//   animation-delay: 3s;
//   animation-fill-mode: forwards;
//   -webkit-animation-name: overlay-text;
//   -webkit-animation-duration: 3s;
//   -webkit-animation-delay: 3s;
//   -webkit-animation-fill-mode: forwards;
//   opacity: 0;
// }

// .overlay-padding {
//   position: relative;
// }
// .overlay-text-row {
//   position: relative;
// }
// .bottom a {
//   color: white !important;
// }
// .middle table tr {
//   width: 100%;
// }
// @keyframes overlay {
//   0% {background-color: rgba(0,0,0,0)}
//   100% {background-color: rgba(0,0,0,0.7)}
// }

// @-webkit-keyframes overlay {
//   0% {background-color: rgba(0,0,0,0)}
//   100% {background-color: rgba(0,0,0,0.7)}
// }

// @keyframes overlay-text {
//   0% {opacity: 0;}
//   100% {opacity: 1;}
// }
// @-webkit-keyframes overlay-text {
//   0% {opacity: 0;}
//   100% {opacity: 1;}
// }

// .top {
//   height: 45%;
// }
// .middle {
//   height: 45%;
// }
// .bottom {
//   height: 10%;
// }
// .top div {
//   height: 100%;
// }
// .bottom div {
//   height: 50%;
// }
// @media only screen and (max-width: $md) {
//   .overlay-padding {
//     height: 10%;
//   }
//   .overlay-text-row {
//     height: 80%;
//   }
//   .top div {
//     font-size: 13vw;
//   }
//   #date {
//     font-size: 10vw;
//   }
//   .bottom div {
//     font-size: 7vw;
//   }
// }

// @media only screen and (min-width: $md) and (max-width: $lg - 1) {
//   .overlay-padding {
//     height: 5%;
//   }
//   .overlay-text {
//     line-height: 1;
//   }
//   .overlay-text-row {
//     height: 90%;
//   }
//   .top div {
//     font-size: 10vw;
//   }
//   #date {
//     font-size: 10vw;
//   }
//   .bottom div {
//     font-size: 7vw;
//   }

// }

// @media only screen and (min-width: $lg) and (max-width: $xl - 1) {
//   .overlay-padding {
//     height: 20%;
//   }
//   .overlay-text {
//     line-height: 1;
//   }
//   .overlay-text-row {
//     height: 60%;
//   }
//   .top div {
//     font-size: 7vw;
//   }
//   #date {
//     font-size: 5vw;
//   }
//   .bottom div {
//     font-size: 3vw;
//   }
//   .top {
//     height: 40%;
//   }
//   .middle {
//     height: 35%;
//   }
//   .bottom {
//     height: 25%;
//   }
//   .top div {
//     height: 100%;
//   }

// }

// @media screen and (min-width: $xl)  {

// }
