@import './variables.scss';
@import './splash.scss';
@import './home.scss';
@import './loading.scss';
@import './navbar.scss';

.html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  background: -moz-linear-gradient(left,  rgb(10,10,10), black, rgb(20,20,20));
  -moz-background-color:  black;
  background-color: -webkit-gradient(linear, left, from(rgb(10, 10, 10)), to(black), to(rgb(20, 20, 20)));
}

.fullPage {
  height: 100%;
}



@media only screen and (max-width: $md - 1) {
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
}


@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
}


@media only screen and (min-width: $lg) and (max-width: $xl - 1) {

}



@media screen and (min-width: $xl)  {
  .fullPage {
    height: 100vh;
  }
 
}
