@import './variables.scss';
@import './splash.scss';
@import './home.scss';
@import './loading.scss';
@import './navbar.scss';
@import './info.scss';
@import './bio.scss';
@import './services.scss';
@import './footer.scss';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $infoColor;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  background: -moz-linear-gradient(left,  rgb(10,10,10), black, rgb(20,20,20));
  -moz-background-color:  black;
  background-color: $backgroundGradient;
}

.fullPage {
  height: 100%;
}
.err {
  position: absolute;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.err-btn {
  background-color: $infoColor;
  margin: 1em 0;
  height: 50px;
  width: 200px;  
}
.err-btn:hover {
  opacity: .8;
}
.arrow-icon {
  width: 20px;
}

@media only screen and (max-width: $md - 1) {
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
  .err {
    .err-code {
      font-size: 150px;
    }
    .err-message{    
      font-size: 20px;
    }
  }
  
}


@media only screen and (min-width: $md) and (max-width: $lg - 1) {
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
  .err {    
    .err-code {
      font-size: 350px;
    }
    .err-message{    
      font-size: 50px;
    }
  }
}


@media only screen and (min-width: $lg) and (max-width: $xl - 1) {
  .err {    
    .err-code {
      font-size: 350px;
    }
    .err-message{    
      font-size: 50px;
    }
  }
}



@media screen and (min-width: $xl)  {
  .fullPage {
    min-height: 100vh;
  }
  .err {    
    .err-code {
      font-size: 350px;
    }
    .err-message{    
      font-size: 50px;
    }
  }
}
